@{
    ViewData["Title"] = "Services - Overall";
}

<section class="content-header">
    <h1>
        @ViewData["Title"]
        <small>Optional description</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="#"><i class="fa fa-dashboard"></i> Level</a></li>
        <li class="active"></li>
    </ol>
</section>

<section class="content">

    <div style="padding: 10px 0px; text-align: center;">
        <div class="text-muted">TTT</div>
    </div>

</section>